{% extends 'base.html' %}

{% block title%}
    Change Password
{% endblock %}

<!-- Gets css file based on user Theme-->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href='{{ theme }}'>
{% endblock %}

{% block content %}
    <body class="text-center">
        <div class="container bg-dark rounded" style="margin-top:10px; padding:10px;">
            <h1 class="heading">Change Password</h1>
            <br>
<!--            Change Password Form-->
            <form method="POST" class="form-signin">
                {{ change_form.hidden_tag() }}
                {{ change_form.curr_pass(class="form-control", placeholder="Current Password") }}
                <br>
                {{ change_form.new_pass(class="form-control", placeholder="New Password") }}
                <br>
                {{ change_form.conf_new_pass(class="form-control", placeholder="Confirm New Password") }}
                <br>
                {{ change_form.submit(class="btn btn-lg btn-block btn-outline-success") }}
                <br>
                <br>
            </form>
        </div>
    </body>
{% endblock %}